<div class="admin-sidebar">
    <div class="logo">
        <img src="/assets/images/new-pfiev.png"/>
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/"><i class="pi pi-home"></i> Trang Chủ</a>
            </li>
            <li>
                <a routerLink="/products"><i class="pi pi-briefcase"></i> Sản Phẩm</a>
            </li>
            <li>
                <a routerLink="/categories"><i class="pi pi-list"></i> Danh Mục</a>
            </li>
            <li>
                <a routerLink="/orders"><i class="pi pi-shopping-cart"></i> Đơn Hàng</a>
            </li>
            <li>
                <a routerLink="/users"><i class="pi pi-user"></i> Người Dùng</a>
            </li>
            <li>
                <a class="logout" (click)="logoutUser()"><i class="pi pi-sign-out" ></i> Đăng Xuất</a>
            </li>
        </ul>
    </div>
</div>